Package: com.pizzasdu83.homebartint
Name: Slippery Bar
Version: 0.42.69
Architecture: iphoneos-arm64
Description: Recolor the home bar (simple color and gradient) and more :)
Maintainer: SaaS
Author: SaaS
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 15.0), preferenceloader
